body {
    background-color: black;
}
/* styling the search button */
header {
    background-color: blue;
    color: rgb(222, 222, 234);
    height: 100px;
    text-align: center;
}

/* styling section showing forecasted weather*/
#forecast-card {
    border: solid;
    background-color: aquamarine;
    color: black;
}

/* styling section showing current div */
#today {
    border: solid;
    background-color: aquamarine;
    color: black;
}

.city {
    padding: 10px;
    margin-bottom: 20px;

}

input {
    width: 100%;
}

/* styling the search button */
#search-button {
    border: solid;
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
    background-color: aquamarine;
    color: black;
}
